body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:12px;
  top:254px;
  width:92px;
  height:78px;
}
#u0_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u1 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:111px;
  top:126px;
  width:100px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:47px;
  top:12px;
  width:223px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:31px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:30px;
  top:92px;
  width:262px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:29px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:12px;
  top:161px;
  width:92px;
  height:78px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u8 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:116px;
  top:161px;
  width:92px;
  height:78px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u10 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:218px;
  top:161px;
  width:92px;
  height:78px;
}
#u11_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u12 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:116px;
  top:254px;
  width:92px;
  height:78px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u14 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:218px;
  top:254px;
  width:92px;
  height:78px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u16 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:11px;
  top:16px;
  width:24px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:15px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:24px;
  height:1px;
}
#u18 {
  position:absolute;
  left:11px;
  top:20px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u18_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:1px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:1px;
}
#u19 {
  position:absolute;
  left:11px;
  top:12px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:1px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:1px;
}
#u20 {
  position:absolute;
  left:12px;
  top:342px;
  width:92px;
  height:78px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u21 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:116px;
  top:342px;
  width:92px;
  height:78px;
}
#u22_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u23 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:218px;
  top:342px;
  width:92px;
  height:78px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u25 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:12px;
  top:435px;
  width:92px;
  height:78px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u27 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:116px;
  top:435px;
  width:92px;
  height:78px;
}
#u28_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u29 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:218px;
  top:435px;
  width:92px;
  height:78px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u31 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:12px;
  top:523px;
  width:92px;
  height:47px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:116px;
  top:523px;
  width:92px;
  height:47px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u35 {
  position:absolute;
  left:2px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:218px;
  top:523px;
  width:92px;
  height:47px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u37 {
  position:absolute;
  left:2px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:549px;
}
#u39 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:100px;
  width:320px;
  height:241px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:242px;
}
#u41 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:100px;
  width:320px;
  height:241px;
}
#u42_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:244px;
}
#u43 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:12px;
  top:375px;
  width:300px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:14px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:9px;
  top:16px;
  width:26px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u46_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:17px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:26px;
  height:1px;
}
#u47 {
  position:absolute;
  left:9px;
  top:16px;
  width:27px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u47_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:18px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  height:1px;
}
#u48 {
  position:absolute;
  left:8px;
  top:6px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:380px;
  top:35px;
  width:300px;
  height:150px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:151px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:7px;
  top:6px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:341px;
  width:160px;
  height:24px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:160px;
  top:341px;
  width:160px;
  height:24px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
