body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:7px;
  top:6px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:9px;
  top:16px;
  width:26px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:17px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:26px;
  height:1px;
}
#u3 {
  position:absolute;
  left:9px;
  top:17px;
  width:27px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u3_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:18px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  height:1px;
}
#u4 {
  position:absolute;
  left:94px;
  top:15px;
  width:134px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:508px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:62px;
  width:262px;
  height:73px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:74px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:120px;
  width:160px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:101px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:160px;
  top:120px;
  width:160px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:101px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:160px;
  top:335px;
  width:160px;
  height:95px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:96px;
}
#u15 {
  position:absolute;
  left:2px;
  top:40px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:220px;
  width:320px;
  height:115px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:116px;
}
#u17 {
  position:absolute;
  left:2px;
  top:50px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:335px;
  width:160px;
  height:95px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:96px;
}
#u19 {
  position:absolute;
  left:2px;
  top:40px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:380px;
  top:35px;
  width:300px;
  height:180px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:181px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:208px;
  top:450px;
  width:30px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:41px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:213px;
  top:465px;
  width:20px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:11px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:3px;
  width:20px;
  height:5px;
}
#u25 {
  position:absolute;
  left:218px;
  top:460px;
  width:10px;
  height:20px;
}
#u25_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u25_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:14px;
}
#u25_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:20px;
}
#u26 {
  position:absolute;
  left:81px;
  top:458px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:75px;
  top:452px;
  width:38px;
  height:37px;
  font-family:'Apple-Chancery', 'Apple Chancery Chancery', 'Apple Chancery';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-20px;
  width:34px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:38px;
  top:160px;
  width:85px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:186px;
  top:160px;
  width:110px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:112px;
  top:268px;
  width:101px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:26px;
  top:373px;
  width:114px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:212px;
  top:373px;
  width:58px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
