body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:47px;
  top:15px;
  width:223px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:31px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:101px;
  width:262px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:11px;
  top:139px;
  width:92px;
  height:78px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u5 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:116px;
  top:139px;
  width:92px;
  height:78px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u7 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:218px;
  top:139px;
  width:92px;
  height:78px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u9 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:11px;
  top:232px;
  width:92px;
  height:78px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u11 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:116px;
  top:232px;
  width:92px;
  height:78px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u13 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:218px;
  top:232px;
  width:92px;
  height:78px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u15 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:11px;
  top:16px;
  width:24px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:15px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:24px;
  height:1px;
}
#u17 {
  position:absolute;
  left:11px;
  top:20px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u17_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:1px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:1px;
}
#u18 {
  position:absolute;
  left:11px;
  top:12px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u18_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:1px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:1px;
}
#u19 {
  position:absolute;
  left:11px;
  top:320px;
  width:92px;
  height:78px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u20 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:116px;
  top:320px;
  width:92px;
  height:78px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u22 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:218px;
  top:320px;
  width:92px;
  height:78px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u24 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:11px;
  top:413px;
  width:92px;
  height:78px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u26 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:116px;
  top:413px;
  width:92px;
  height:78px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u28 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:218px;
  top:413px;
  width:92px;
  height:78px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u30 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:11px;
  top:501px;
  width:92px;
  height:47px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u32 {
  position:absolute;
  left:2px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:116px;
  top:501px;
  width:92px;
  height:47px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:218px;
  top:501px;
  width:92px;
  height:47px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u36 {
  position:absolute;
  left:2px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:11px;
  top:139px;
  width:300px;
  height:410px;
  overflow:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:410px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:549px;
}
#u39 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:99px;
  width:320px;
  height:241px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:242px;
}
#u41 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:99px;
  width:320px;
  height:241px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:242px;
}
#u43 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:12px;
  top:350px;
  width:300px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:27px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:9px;
  top:16px;
  width:26px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u46_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:17px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:26px;
  height:1px;
}
#u47 {
  position:absolute;
  left:9px;
  top:17px;
  width:27px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u47_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:18px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  height:1px;
}
#u48 {
  position:absolute;
  left:7px;
  top:6px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:380px;
  top:35px;
  width:300px;
  height:180px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:181px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:7px;
  top:6px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
