body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:114px;
  top:114px;
  width:96px;
  height:26px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
}
#u0_img.disabled {
  left:-10px;
  top:-10px;
  width:117px;
  height:47px;
}
#u0.disabled {
}
#u1 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:12px;
  top:150px;
  width:92px;
  height:78px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u2_img.mouseOver {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u2.mouseOver {
  opacity:0.8;
}
#u2_img.mouseDown {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u2.mouseDown {
  opacity:0.8;
}
#u3 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:116px;
  top:150px;
  width:92px;
  height:78px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
  opacity:0.8;
}
#u5 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:218px;
  top:150px;
  width:92px;
  height:78px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u6_img.mouseOver {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u6.mouseOver {
  opacity:0.8;
}
#u6_img.mouseDown {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u6.mouseDown {
  opacity:0.8;
}
#u7 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:14px;
  top:331px;
  width:92px;
  height:78px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u8_img.mouseOver {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u8.mouseOver {
  opacity:0.8;
}
#u8_img.mouseDown {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u8.mouseDown {
  opacity:0.8;
}
#u9 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:14px;
  top:243px;
  width:92px;
  height:78px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u10_img.mouseOver {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u10.mouseOver {
  opacity:0.8;
}
#u10_img.mouseDown {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u10.mouseDown {
  opacity:0.8;
}
#u11 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:116px;
  top:331px;
  width:92px;
  height:78px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u12_img.mouseOver {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u12.mouseOver {
  opacity:0.8;
}
#u12_img.mouseDown {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u12.mouseDown {
  opacity:0.8;
}
#u13 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:218px;
  top:243px;
  width:92px;
  height:78px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u14_img.mouseOver {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u14.mouseOver {
  opacity:0.8;
}
#u14_img.mouseDown {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u14.mouseDown {
  opacity:0.8;
}
#u15 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:116px;
  top:243px;
  width:92px;
  height:78px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u16_img.mouseOver {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u16.mouseOver {
  opacity:0.8;
}
#u16_img.mouseDown {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u16.mouseDown {
  opacity:0.8;
}
#u17 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:218px;
  top:331px;
  width:92px;
  height:78px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:79px;
}
#u18_img.mouseOver {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u18.mouseOver {
  opacity:0.8;
}
#u18_img.mouseDown {
  left:-2px;
  top:-2px;
  width:97px;
  height:83px;
}
#u18.mouseDown {
  opacity:0.8;
}
#u19 {
  position:absolute;
  left:2px;
  top:31px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:47px;
  top:27px;
  width:223px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:31px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:30px;
  top:76px;
  width:262px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:29px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:11px;
  top:16px;
  width:24px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:15px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:24px;
  height:1px;
}
#u25 {
  position:absolute;
  left:11px;
  top:20px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u25_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:1px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:1px;
}
#u26 {
  position:absolute;
  left:11px;
  top:12px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u26_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:1px;
  top:-5px;
  width:14px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:1px;
}
#u27 {
  position:absolute;
  left:8px;
  top:6px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:390px;
  top:45px;
  width:300px;
  height:75px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:76px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:20px;
  top:114px;
  width:100px;
  height:15px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:11px;
  top:150px;
  width:300px;
  height:265px;
  overflow:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:265px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:508px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:208px;
  top:450px;
  width:30px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:41px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:208px;
  top:450px;
  width:30px;
  height:40px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:41px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:213px;
  top:465px;
  width:20px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:11px;
  top:-5px;
  width:14px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:3px;
  width:20px;
  height:5px;
}
#u41 {
  position:absolute;
  left:218px;
  top:460px;
  width:10px;
  height:20px;
}
#u41_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u41_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:14px;
}
#u41_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:20px;
}
#u42 {
  position:absolute;
  left:81px;
  top:458px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:75px;
  top:452px;
  width:38px;
  height:37px;
  font-family:'Apple-Chancery', 'Apple Chancery Chancery', 'Apple Chancery';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-20px;
  width:34px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:549px;
}
#u47 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:100px;
  width:320px;
  height:241px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:242px;
}
#u49 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:100px;
  width:320px;
  height:241px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:242px;
}
#u51 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:12px;
  top:374px;
  width:300px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:14px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:9px;
  top:16px;
  width:26px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u54_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:17px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:26px;
  height:1px;
}
#u55 {
  position:absolute;
  left:9px;
  top:16px;
  width:27px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u55_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:18px;
  top:-5px;
  width:14px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  height:1px;
}
#u56 {
  position:absolute;
  left:7px;
  top:6px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:340px;
  width:160px;
  height:24px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:160px;
  top:340px;
  width:160px;
  height:24px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
