body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:7px;
  top:6px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:9px;
  top:16px;
  width:26px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:17px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:26px;
  height:1px;
}
#u3 {
  position:absolute;
  left:9px;
  top:17px;
  width:27px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u3_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:18px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  height:1px;
}
#u4 {
  position:absolute;
  left:94px;
  top:15px;
  width:134px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:508px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:81px;
  width:262px;
  height:73px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:74px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:180px;
  width:262px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:201px;
  width:64px;
  height:19px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:104px;
  top:201px;
  width:64px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:176px;
  top:201px;
  width:64px;
  height:19px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:380px;
  top:35px;
  width:300px;
  height:195px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:196px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:208px;
  top:450px;
  width:30px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:41px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:213px;
  top:465px;
  width:20px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:11px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:3px;
  width:20px;
  height:5px;
}
#u23 {
  position:absolute;
  left:218px;
  top:460px;
  width:10px;
  height:20px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:14px;
}
#u23_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:20px;
}
#u24 {
  position:absolute;
  left:81px;
  top:458px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:75px;
  top:452px;
  width:38px;
  height:37px;
  font-family:'Apple-Chancery', 'Apple Chancery Chancery', 'Apple Chancery';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-20px;
  width:34px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:252px;
  top:183px;
  width:20px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:30px;
  top:254px;
  width:262px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:30px;
  top:290px;
  width:75px;
  height:55px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u33 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:116px;
  top:290px;
  width:75px;
  height:55px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u35 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:200px;
  top:290px;
  width:75px;
  height:55px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u37 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:30px;
  top:356px;
  width:75px;
  height:55px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u39 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:116px;
  top:356px;
  width:75px;
  height:55px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u41 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:200px;
  top:356px;
  width:75px;
  height:55px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u43 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
