body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:181px;
}
#u1 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:180px;
  width:320px;
  height:170px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:171px;
}
#u3 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:350px;
  width:320px;
  height:160px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:161px;
}
#u5 {
  position:absolute;
  left:2px;
  top:72px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:508px;
  width:320px;
  height:40px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:243px;
  top:88px;
  width:18px;
  height:14px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
  color:#000000;
}
#u8_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:23px;
  height:19px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:83px;
  top:90px;
  width:88px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:64px;
  top:230px;
  width:197px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:29px;
  top:300px;
  width:261px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:14px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:261px;
  height:1px;
}
#u15 {
  position:absolute;
  left:29px;
  top:275px;
  width:261px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:85px;
  top:400px;
  width:155px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:32px;
  top:470px;
  width:261px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:261px;
  height:1px;
}
#u19 {
  position:absolute;
  left:32px;
  top:445px;
  width:261px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
