body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:320px;
  height:40px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u1 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-10px;
  top:34px;
  width:330px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:321px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u3 {
  position:absolute;
  left:-90px;
  top:81px;
  width:160px;
  height:160px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u4 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:38px;
  top:48px;
  width:54px;
  height:49px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:48px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:50px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:68px;
  top:98px;
  width:64px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:0px;
  top:161px;
  width:160px;
  height:140px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:141px;
}
#u10 {
  position:absolute;
  left:2px;
  top:62px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:160px;
  top:161px;
  width:160px;
  height:129px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:130px;
}
#u12 {
  position:absolute;
  left:2px;
  top:56px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:290px;
  width:320px;
  height:100px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:101px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:8px;
  top:301px;
  width:57px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:160px;
  top:40px;
  width:160px;
  height:120px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:121px;
}
#u18 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:242px;
  top:56px;
  width:58px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:0px;
  top:390px;
  width:160px;
  height:118px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:119px;
}
#u22 {
  position:absolute;
  left:2px;
  top:51px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:170px;
  top:434px;
  width:141px;
  height:29px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:508px;
  width:110px;
  height:40px;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:210px;
  top:508px;
  width:110px;
  height:40px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:110px;
  top:500px;
  width:100px;
  height:48px;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:160px;
  top:390px;
  width:160px;
  height:108px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:109px;
}
#u32 {
  position:absolute;
  left:2px;
  top:46px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:178px;
  top:93px;
  width:125px;
  height:52px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:53px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:10px;
  top:200px;
  width:43px;
  height:37px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:60px;
  top:200px;
  width:43px;
  height:37px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:107px;
  top:200px;
  width:43px;
  height:37px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:10px;
  top:243px;
  width:43px;
  height:37px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:60px;
  top:243px;
  width:43px;
  height:37px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:107px;
  top:243px;
  width:43px;
  height:37px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:8px;
  top:176px;
  width:62px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:254px;
  top:176px;
  width:54px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:204px;
  top:170px;
  width:35px;
  height:33px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:165px;
  top:208px;
  width:35px;
  height:33px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:203px;
  top:208px;
  width:35px;
  height:33px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:165px;
  top:247px;
  width:35px;
  height:33px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:204px;
  top:247px;
  width:35px;
  height:33px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:242px;
  top:208px;
  width:35px;
  height:33px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:282px;
  top:208px;
  width:35px;
  height:33px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:242px;
  top:246px;
  width:35px;
  height:33px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:281px;
  top:246px;
  width:35px;
  height:33px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:169px;
  top:171px;
  width:26px;
  height:30px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:141px;
  top:323px;
  width:38px;
  height:50px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:51px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:10px;
  top:400px;
  width:65px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:34px;
  top:418px;
  width:87px;
  height:79px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:80px;
}
#u76 {
  position:absolute;
  left:2px;
  top:32px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:17px;
  top:403px;
  width:110px;
  height:98px;
  font-family:'Apple-Chancery', 'Apple Chancery Chancery', 'Apple Chancery';
  font-weight:400;
  font-style:italic;
  font-size:140px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:99px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-62px;
  width:106px;
  word-wrap:break-word;
}
