body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:320px;
  height:40px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:325px;
  height:45px;
}
#u1 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-10px;
  top:34px;
  width:330px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:321px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u3 {
  position:absolute;
  left:-90px;
  top:81px;
  width:160px;
  height:160px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u4 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:38px;
  top:48px;
  width:28px;
  height:49px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:48px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:68px;
  top:98px;
  width:56px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:0px;
  top:161px;
  width:160px;
  height:140px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:141px;
}
#u10 {
  position:absolute;
  left:2px;
  top:62px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:160px;
  top:161px;
  width:160px;
  height:129px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:130px;
}
#u12 {
  position:absolute;
  left:2px;
  top:56px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:198px;
  top:217px;
  width:84px;
  height:29px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:32px;
  top:217px;
  width:96px;
  height:29px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:290px;
  width:320px;
  height:100px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:101px;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:111px;
  top:326px;
  width:88px;
  height:29px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:160px;
  top:40px;
  width:160px;
  height:120px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:121px;
}
#u22 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:195px;
  top:85px;
  width:90px;
  height:29px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:390px;
  width:160px;
  height:118px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:119px;
}
#u26 {
  position:absolute;
  left:2px;
  top:51px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:30px;
  top:434px;
  width:101px;
  height:29px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:170px;
  top:434px;
  width:141px;
  height:29px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:508px;
  width:320px;
  height:40px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:-20px;
  top:40px;
  width:340px;
  height:468px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:469px;
}
#u34 {
  position:absolute;
  left:2px;
  top:226px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
