body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:7px;
  top:6px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:9px;
  top:16px;
  width:26px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:17px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:26px;
  height:1px;
}
#u3 {
  position:absolute;
  left:9px;
  top:17px;
  width:27px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u3_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:18px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:27px;
  height:1px;
}
#u4 {
  position:absolute;
  left:94px;
  top:15px;
  width:134px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:508px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:148px;
  width:262px;
  height:35px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:30px;
  top:96px;
  width:262px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:46px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:30px;
  top:214px;
  width:230px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u12 {
  position:absolute;
  left:16px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u11_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13 {
  position:absolute;
  left:30px;
  top:261px;
  width:262px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:21px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:30px;
  top:282px;
  width:262px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:38px;
  top:309px;
  width:75px;
  height:55px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u18 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:124px;
  top:309px;
  width:75px;
  height:55px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u20 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:208px;
  top:309px;
  width:75px;
  height:55px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u22 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:38px;
  top:375px;
  width:75px;
  height:55px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u24 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:124px;
  top:375px;
  width:75px;
  height:55px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:208px;
  top:375px;
  width:75px;
  height:55px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:39px;
  top:309px;
  width:245px;
  height:121px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:122px;
}
#u30 {
  position:absolute;
  left:2px;
  top:52px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:208px;
  top:450px;
  width:30px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:41px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:208px;
  top:450px;
  width:30px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:41px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:213px;
  top:465px;
  width:20px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:11px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:3px;
  width:20px;
  height:5px;
}
#u36 {
  position:absolute;
  left:218px;
  top:460px;
  width:10px;
  height:20px;
}
#u36_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:14px;
}
#u36_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:20px;
}
#u37 {
  position:absolute;
  left:81px;
  top:458px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:75px;
  top:452px;
  width:38px;
  height:37px;
  font-family:'Apple-Chancery', 'Apple Chancery Chancery', 'Apple Chancery';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-20px;
  width:34px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:370px;
  top:125px;
  width:300px;
  height:180px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:181px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:41px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
